@use "./variables";

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(15deg);
  }

  50% {
    transform: rotate(0deg);
  }

  75% {
    transform: rotate(-15deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 320px;
  padding: 24px;
  background-color: variables.$primaryColor;
  border-radius: 24px;

  &__title {
    font-size: 48px;
    color: #fefefe;

    @media screen and (min-width: 1280px) {
      font-size: 64px;
    }
  }

  &__description {
    color: variables.$secondaryColor;
    font-size: 16px;
  }

  &__waving-hand {
    display: inline-block;
    animation: wave 1s linear infinite;
  }
}
