@use "./variables";

.contact-cta {
  &__title {
    font-size: 1.5rem;
    color: #fefefe;
  }

  &__links {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__link {
    padding: 24px;
    background-color: variables.$primaryColor;
    color: #fefefe;
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: bold;
    border-radius: 12px;
    flex-basis: 50%;

    @media screen and (max-width: 1280px) {
      padding: 16px;
    }

    &:hover {
      background-color: #fefefe;
      color: black;
    }
  }
}
