@use "./variables";

.navbar {
  padding: 32px;
  background-color: variables.$primaryColor;
  display: flex;
  flex-direction: row;
  gap: 80px;
  border-radius: 24px;
  z-index: 1;
  width: 100%;
  align-items: center;

  &--active {
    @media screen and (max-width: 1280px) {
      height: calc(100vh - 32px);
      width: 100%;
      flex-direction: column;
    }
  }

  &__menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
  }

  &__input {
    display: none;
  }

  &__button {
    height: 36px;
    width: 36px;
    position: absolute;
    right: 32px;
    color: #fefefe;
    cursor: pointer;

    @media screen and (min-width: 1280px) {
      display: none;
    }
  }

  &__list {
    display: none;
    list-style-type: none;

    &--active {
      @media screen and (max-width: 1280px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        height: 100%;
        width: 100%;
      }
    }

    @media screen and (min-width: 1280px) {
      display: flex;
      flex-direction: row;
      gap: 16px;
    }
  }

  &__link {
    color: variables.$secondaryColor;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.25rem;

    &--title {
      color: #fefefe;
      font-size: 2rem;
    }

    &--active {
      color: #fefefe;
    }
  }
}
