@use "./variables";

.navbar {
  padding: 32px;
  background-color: variables.$primaryColor;
  display: flex;
  flex-direction: column;
  gap: 80px;
  font-size: 1.5rem;
  border-radius: 24px;
  position: fixed;
  width: calc(100% - 32px);
  z-index: 1;

  @media screen and (min-width: 1280px) {
    padding: 48px;
    height: calc(100vh - 32px);
    width: 300px;
  }

  &--active {
    height: calc(100vh - 32px);
  }

  &__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  &__input {
    display: none;
  }

  &__button {
    height: 36px;
    width: 36px;
    position: absolute;
    right: 32px;
    color: #fefefe;
    cursor: pointer;

    @media screen and (min-width: 1280px) {
      display: none;
    }
  }

  &__list {
    display: none;
    list-style-type: none;

    &--active {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }

    @media screen and (min-width: 1280px) {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
  }

  &__link {
    color: variables.$secondaryColor;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.75rem;

    @media screen and (min-width: 1280px) {
      font-size: 1.5rem;
    }

    &--title {
      color: #fefefe;
      font-size: 2rem;
    }

    &--active {
      color: #fefefe;
    }
  }

  &__profile {
    display: none;

    @media screen and (min-width: 1280px) {
      display: flex;
      flex-direction: column;
      gap: 4px;
      position: absolute;
      bottom: 48px;
    }
  }

  &__nickname {
    font-size: 0.875rem;
    color: #fefefe;
  }

  &__profession {
    font-size: 0.75rem;
    color: variables.$secondaryColor;
  }
}
