@use "./variables";

.technology-list {
  margin-top: 16px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  flex-wrap: wrap;
  list-style-type: none;

  &__item {
    color: variables.$secondaryColor;
    font-size: 0.75rem;
  }
}
