@use "./variables";

.about {
    &__heading {
        font-size: 24px;
        color: white;
    }

    &__cards {
        margin-top: 16px;
        display: flex;
        flex-direction: column;
        gap: 8px;

        @media screen and (min-width: 1280px) {
            flex-direction: row;
            flex-wrap: wrap;
        }
    }

    &__card {
        padding: 32px;
        background-color: variables.$primaryColor;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 32px;
        flex-basis: calc(50% - 8px);
        border-radius: 16px;
    }

    &__text {
        color: variables.$secondaryColor;
    }
}