@use "./variables";

.contact-form {
  flex-basis: 100%;

  @media screen and (min-width: 1280px) {
    flex-basis: calc(50% - 16px);
  }

  &__title {
    font-size: 24px;
    color: white;
  }

  &__status {
    display: inline-block;
    margin-top: 16px;
    background-color: #d3d4d9;
    padding: 16px;
    border-radius: 12px;
    border: none;
    color: black;
    font-size: 16px;
    width: 100%;
  }

  &__form {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;

    @media screen and (min-width: 1280px) {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  &__input {
    flex-basis: calc(50% - 4px);
    background-color: variables.$primaryColor;
    padding: 16px;
    border-radius: 12px;
    border: none;
    color: variables.$secondaryColor;
    font-size: 16px;

    &--button {
      margin-top: 4px;
      flex-basis: 100%;
      font-weight: bold;
      border-radius: 12px;
      background-color: transparent;
      border: 1px solid white;
      color: white;

      &:hover {
        cursor: pointer;
        background-color: white;
        color: black;
      }
    }
  }

  &__textarea {
    margin-top: 4px;
    flex-basis: 100%;
    background-color: variables.$primaryColor;
    padding: 16px;
    border-radius: 12px;
    border: none;
    color: variables.$secondaryColor;
  }
}
