@use "./variables";

.layout {
  display: flex;
  flex-direction: column;
  padding: 16px;
  min-height: 100vh;

  @media screen and (min-width: 1280px) {
    flex-direction: row;
  }

  &__nav {
    padding: 32px;
    background-color: variables.$primaryColor;
    display: flex;
    flex-direction: column;
    gap: 80px;
    font-size: 24px;
    border-radius: 24px;
    position: fixed;
    width: calc(100% - 32px);

    @media screen and (min-width: 1280px) {
      padding: 48px;
      height: calc(100vh - 32px);
      width: 300px;
    }

    &--active {
      height: calc(100vh - 32px);
    }
  }

  &__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  &__input {
    display: none;
  }

  &__button {
    height: 36px;
    width: 36px;
    position: absolute;
    right: 40px;
    color: white;
    cursor: pointer;

    @media screen and (min-width: 1280px) {
      display: none;
    }
  }

  &__list {
    display: none;
    list-style-type: none;

    &--active {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }

    @media screen and (min-width: 1280px) {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
  }

  &__link {
    color: variables.$secondaryColor;
    text-decoration: none;
    font-weight: bold;
    font-size: 40px;

    @media screen and (min-width: 1280px) {
      font-size: 28px;
    }

    &--title {
      color: white;
      font-size: 24px;
    }

    &--active {
      color: white;
    }
  }

  &__profile {
    display: none;

    @media screen and (min-width: 1280px) {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 16px;
      position: absolute;
      bottom: 48px;
    }

    &--active {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 16px;
      position: absolute;
      bottom: 32px;
    }
  }

  &__avatar {
    width: 64px;
    height: 64px;
    border-radius: 50%;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__nickname {
    font-size: 14px;
    color: white;
  }

  &__title {
    font-size: 12px;
    color: white;
  }

  &__main {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 100%;
    margin-top: 125px;

    @media screen and (min-width: 1280px) {
      margin-top: 0;
      width: calc(100% - 300px);
      margin-left: 320px;
    }
  }
}
