@use "./variables";

.project-card {
  display: flex;
  flex-direction: column;
  background-color: variables.$primaryColor;
  padding: 32px;
  justify-content: space-between;
  gap: 16px;
  border-radius: 12px;

  @media screen and (min-width: 1280px) {
    flex-basis: calc(50% - 8px);
  }

  &__header {
    display: flex;
    gap: 12px;
    align-self: flex-end;
  }

  &__icon {
    width: 32px;
    height: 32px;

    &:hover {
      transform: scale(1.25);
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &__name {
    font-size: 24px;
    color: white;
    text-transform: capitalize;
  }

  &__description {
    font-size: 14px;
    color: variables.$secondaryColor;
  }
}
