---
import Layout from "../layouts/layout.astro";
import Card from "../components/Card";
import Form from "../components/Form";
import SocialProfiles from "../components/SocialProfiles";
---

<Layout title="SyntaxBreaker's Portfolio | Contact">
  <Card
    title="Contact"
    description="Are you interested in collaborating? Your messages are always welcome, so feel free to contact me anytime!"
  />
  <div style="display: flex; flex-wrap: wrap; gap: 32px">
    <Form client:load />
    <SocialProfiles />
  </div>
</Layout>
