---
import "../styles/global.scss";
import "../styles/layout.scss";
const { title } = Astro.props;

const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
  </head>
  <body>
    <div class="layout">
      <nav class="layout__nav">
        <div class="layout__menu">
          <a href="/" class="layout__link layout__link--title">SyntaxBreaker</a>
          <input type="checkbox" id="menu-toggle" class="layout__input" />
          <label class="layout__button" for="menu-toggle">☰</label>
        </div>
        <ul class="layout__list">
          <li class="layout__item">
            <a href="/" class=`layout__link ${currentPath === "" ? "layout__link--active" : ""}`>Home</a>
          </li>
          <li class="layout__item">
            <a href="/projects" class=`layout__link ${currentPath === "projects" ? "layout__link--active" : ""}`>Projects</a>
          </li>
          <li class="layout__item">
            <a href="/contact" class=`layout__link ${currentPath === "contact" ? "layout__link--active" : ""}`>Contact</a>
          </li>
        </ul>
        <div class="layout__profile">
          <img src="ninja.png" alt="avatar" class="layout__avatar" />
          <div class="layout__info">
            <p class="layout__nickname">SyntaxBreaker</p>
            <p class="layout__title">Front-End Developer</p>
          </div>
        </div>
      </nav>
      <main class="layout__main">
        <slot />
      </main>
    </div>
    <script>
      const checkbox = document.querySelector(
        ".layout__input",
      ) as HTMLInputElement;
      const nav = document.querySelector(".layout__nav");
      const list = document.querySelector(".layout__list");
      const profile = document.querySelector(".layout__profile");
      checkbox.addEventListener("change", () => {
        if (checkbox.checked === true) {
          nav?.classList.add("layout__nav--active");
          list?.classList.add("layout__list--active");
          profile?.classList.add("layout__profile--active");
        } else {
          nav?.classList.remove("layout__nav--active");
          list?.classList.remove("layout__list--active");
          profile?.classList.remove("layout__profile--active");
        }
      });
    </script>
  </body>
</html>
