---
import "../styles/global.scss";
import "../styles/layout.scss";
import Navbar from "../components/Navbar";

const { title } = Astro.props;

const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="Welcome to my portfolio! I'm a self-taught front-end developer who enjoys creating digital products and solutions."
    />
    <title>{title}</title>
  </head>
  <body>
    <div class="layout">
      <Navbar currentPath={currentPath} />
      <main class="layout__main">
        <slot />
      </main>
    </div>
    <script>
      const checkbox = document.querySelector(
        ".navbar__input"
      ) as HTMLInputElement;
      const nav = document.querySelector(".navbar");
      const list = document.querySelector(".navbar__list");
      const profile = document.querySelector(".navbar__profile");
      checkbox.addEventListener("change", () => {
        if (checkbox.checked === true) {
          nav?.classList.add("navbar--active");
          list?.classList.add("navbar__list--active");
          profile?.classList.add("navbar__profile--active");
        } else {
          nav?.classList.remove("navbar--active");
          list?.classList.remove("navbar__list--active");
          profile?.classList.remove("navbar__profile--active");
        }
      });
    </script>
  </body>
</html>
